#page {
    
}

#content {
    vertical-align: top;
	margin-top: 20px;
    text-align: center;
}

h1 {
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 40px;
}
body {
	background: url("assets/yenbackground.jpg") fixed no-repeat bottom center;
    background-color: #1d1417;
    text-align: center;
  	background-position: center;
  	color: white;
  	font-family: 'Open Sans', helvetica, sans-serif;
  	font-size: 14px;
    font-weight: lighter;
}

input[type="submit"] {
  	background: #FFFFFF;
  	color: #1d1417;
  	font-family: 'Open Sans', helvetica, sans-serif;
  	border: 0;
  	padding: 10px;
  	font-size: 14px;
  	border-radius: 15px;
  	border-radius: 15px;
}

