#page {
    
}

#content {
  vertical-align: top;
	margin-top: 20px;
  text-align: center;
}

h1 {
	 font-family: 'Montserrat', helvetica, sans-serif;
	 font-size: 40px;
   padding: 1px;
   margin: 0px;
}
body {
	  background: url("assets/yenbackground.jpg") fixed no-repeat bottom center;
    background-color: #1d1417;
    text-align: center;
  	background-position: center;
  	color: white;
  	font-family: 'Open Sans', Helvetica, sans-serif;
  	font-size: 15px;
    font-weight: normal;
    margin: 0px;
}

input[type="submit"] {
  	color: #1d1417;
  	font-family: 'Open Sans', Helvetica, sans-serif;
  	border: 0;
  	padding: 5px;
  	font-size: 14px;
  	border-radius: 15px;
  	border-radius: 15px;
    font-weight: normal;
    box-shadow: #666 0px 2px 3px;
}


#menu {
    width: 100%;
    text-align: center;
    border-width: 3px;
}

.menu_ul li {
    display: inline;
    margin-right: 50px;
    font-family: 'Montserrat', helvetica, sans-serif;
}
