body {
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  background-image:url('../unit6/14.jpg'); 
  font-color: #403e37;
}

.logo {
  padding-top: 30px;
}

}
h1  {
  font-weight: 800;
  font-size: 18px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  font-color: #403e37;
}

h2 {
  font-size: 12px;
  padding: 13px 0;
  border-bottom-color: white;
  text-decoration: none;
  font-color: #403e37;
}


p {
  font-color: #403e37;
  font-size: 13px;
}

li {
  list-style: none;
}

nav {
  font-size: 18px;
  float: center;
  text-align: center;
  clear: both;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  margin: 30px;
  display: inline-block;
  padding: 0px;
  color: #403e37;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

a:hover    {
    text-decoration: none;
    background-color: #ffcfdc;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }

img {
  display: block;
  margin: 0 auto;
  clear: both;
  max-width: 100%;
  padding: 0px;
}


.content{
width: auto;
background: white;

}


.herobanner {
  background: #f9f9f9;
  background-size: 100%;
  overflow: auto;
  width:100%;
  position:center;
}

.main {
float:left;
width:900px;
height: 350px;
background: white;
padding: 15px;
}

.sidebar {
float:right;
width:400px;
height:350px;
background: white;
padding: 15px;
}

.planter {
  size: 40%;

}


.address {
  background-color: #a3efd1;
  padding: 15px;
  width: 400px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}

.email {
  background-color: #ffcfdc;
  padding: 15px;
  width: 400px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}

.phone {
  background-color: #a3efd1;
  padding: 15px;
  width: 400px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}

footer {
    clear: both;
    background: none repeat scroll 0 0 #ffcfdc;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.09em;
    line-height: 1.3em;
    position: relative;
    text-transform: uppercase;
    z-index: 500;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
footer a {
    color: #ffffff;
}
footer a:hover {
    color: #ffffff;
}
footer .inner {
    min-height: 12px;
    padding: 34px 0;
}
footer .copyright {
    float: left;
}
footer .footer-text {
    float: right;
}







@media (max-width: 840px) {
  nav {
    background-image: url("../unit6/menu.png");
    background-repeat: no-repeat;
    width: 50%;
    font-size: 1.2em;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    position:absolute;
  }

  img {
  width: 400px;
  }


  .menu_list {
    opacity: 0;
    background-color:white;
    width: 150px;
    margin-bottom: 5px;
    z-index:400;
}
  .menu_list:hover {
    opacity: 100;
    background-color:white;
    width: 150px;
}
  .menu_list li {
    background: none repeat scroll 0 0 white;
    list-style-type: none;
}
  .menu_list li:nth-child(2n+1) {
    background: none repeat scroll 0 0 #d3d3d3;
}
  .menu_list li:hover {
    background: none repeat scroll 0 0 #3c5875;
    color: white;
}
a:hover    {
    text-decoration: none;
    background-color: #ffcfdc;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }


.logo {
  background-image: ("../unit6/stylemasonlogo.png");
  padding-top: 30px;
  padding-bottom:15x;
}

.herobanner {
  background: #f9f9f9;
  background-size: 100%;
  overflow: auto;
  width:100%;
  position:center;
}

.main {
float:none;
width:100%;
background: white;
padding: 15px;
}

.sidebar {
float:none;
width:100%;
background: white;
padding: 15px;
}

#planter {
  size: 50%;
}

footer {
    width:98%;
    clear: both;
    background: none repeat scroll 0 0 #ffcfdc;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.09em;
    line-height: 1.3em;
    position: relative;
    text-transform: uppercase;
    z-index: 500;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}



}






@media (max-width: 480px) {
  nav {
    background-image: url("../unit6/menu.png");
    background-repeat: no-repeat;
    text-align: left;
    position: absolute;
}
    
  .menu_list {
    opacity: 0;
    margin-bottom: 5px;
}
  .menu_list:hover {
    opacity: 1;
    width: 150px;
}
  .menu_list li {
    background: none repeat scroll 0 0 white;
    list-style-type: none;
}
  .menu_list li:nth-child(2n+1) {
    background: none repeat scroll 0 0 #d3d3d3;
}
  .menu_list li:hover {
    background: none repeat scroll 0 0 #3c5875;
    color: white;
}
  a:hover    {
    text-decoration: none;
    background-color: #ffcfdc;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }
    img {
  padding-top: 2em;
      width: 100%;
    }


.logo {
  background-image: ("../unit6/stylemasonlogo.png");
  padding-top: 30px;
  padding-bottom:15x;
}

.herobanner {
  background: #f9f9f9;
  background-size: 100%;
  overflow: auto;
  width:100%;
  position:center;
}

.main {
float:none;
width:100%;
background: white;
padding: 15px;
padding-top:10px;
display:block;
}


.sidebar {
float:none;
width:100%;
background: white;
padding: 15px;
}

.address {
  background-color: #a3efd1;
  padding: 15px;
  width: 350px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}

.email {
  background-color: #ffcfdc;
  padding: 15px;
  width: 350px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}

.phone {
  background-color: #a3efd1;
  padding: 15px;
  width: 350px;
  position: relative;
  color: white;
  margin: 5px;
  margin-bottom: 15px;
}


#planter {
  size: 10px;

}

  footer {
    width:94%;
    clear: both;
    background: none repeat scroll 0 0 #ffcfdc;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.09em;
    line-height: 1.3em;
    position: relative;
    text-transform: uppercase;
    z-index: 500;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
}

  footer a {
    color: #ffffff;
}
  footer a:hover {
    color: #ffffff;
}
  footer .inner {
    min-height: 12px;
    padding: 34px 0;
}
  footer .copyright {
    float: none;
    width:auto;
    display:inline-block;

}
  footer .footer-text {
    float:none;
    width:auto;
    display:inline-block;

}




}


