body{
  	text-align: left;
  	margin-left: 100px;
  	padding-top: 250px;
  	background: url("assets/background.jpg");
  	background-size: cover;
  	background-position: tile;
  	color: white;
  	font-family: helvetica;
  	font-size: 14px;
  	font-weight: normal;
}

hr{
	background-color: red;
	height: 0px;
	margin-left: 0px;
	width: 25px;

}
p {
  	font-size: 22px;
}    

div {
	border-image-source: tile;
	margin-top: 0px;



}